<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Yandex Intensive</title>
    <style>

.container {

position: relative;

text-align: center;

}

.centered {

position: absolute;

top: 50%;

left: 50%;

color: White;

font-size:30px;

transform: translate(-50%, -50%);

}
.centered-black {

position: absolute;

top: 50%;

left: 50%;

color: Black;

font-size:30px;

transform: translate(-50%, -50%);

}
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
<div class="fixed-top">
    <nav id="navbar" class="navbar bg-dark px-3 mb-3">
        <a class="navbar-brand text-light" href="#"><em>творческое задание / кринж сайт про меня</em></a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#me">@кто я</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mycity">@откуда</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myhobbies">@чем увлекаюсь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myexperience">@про опыт в разработке</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacts">@как связаться</a>
            </li>
        </ul>
    </nav>
</div>

<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
     class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <div id="me" class="container-fluid position-relative">
        <img class="w-100"
             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/854fd675-7e11-4d34-9d53-ca7cec10bdd1/self_ph.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T071028Z&X-Amz-Expires=86400&X-Amz-Signature=f4732bab93f3936f2c591730fa2ec32da03241eef77a687588e13536c578c66e&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22self_ph.jpg%22&x-id=GetObject">
        <div class="position-absolute top-50 start-50">
            <h1 class="display-4 text-light bg-dark">Привет! Меня зовут Искаков Имран Бахромович</h1>
        </div>
    </div>

    <div id="mycity">
        <div id="carouselLocation" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselLocation" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselLocation" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://aboutkazakhstan.com/blog/wp-content/uploads/2016/10/kazakhstan-landscapes-5.jpg">
                        <div class="centered">

                            <h1 class="text-white">я из Казахстана</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Республика Казахстан</h1>
                            <h3>самая большая страна в Центральной Азии</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/8efd5ce1-0c38-42c6-9789-e637d772aabd/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T123152Z&X-Amz-Expires=86400&X-Amz-Signature=ab0ecae79ee2fdf67cb4c055f9ea977a938f0f0a8c2664860d0eaa08c0677aa6&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject"
                             style="width:100%;">

                        <div class="centered">
                            <h1 class="text-white bg-dark">а точнее, из г. Алматы</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>город Алматы</h1>
                            <h3>бывшая столица РК</h3>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLocation"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselLocation"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="myhobbies">
        <div id="carouselhobbie" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/9442b966-16e7-47fc-8b84-ce5017df8694/codeforeces.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220925T121800Z&X-Amz-Expires=86400&X-Amz-Signature=13ff91699cd5fc386376785e370352bfa84f6a70528faf059105e8240d67d543&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22codeforeces.jpg%22&x-id=GetObject">
                        <div class="centered-black">
                            <h1>я увлекаюсь</h1>
                            <h1 class="text-black">cпортивным программированием</h1>
                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-secondary">начал в 9 классе</h1>
                            <h3 class="text-secondary">был в олимпийском резрве</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/bb64cdb8-9235-429b-8feb-8f9abfc229bf/team_photo.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220925T123056Z&X-Amz-Expires=86400&X-Amz-Signature=bc48b6eb6f749830a94c2163f2fd3b992a7baf360744e9a716adc2245750a76f&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22team_photo.jpeg%22&x-id=GetObject"
                             style="width:100%;">

                        <div class="centered">
                            <h1 class="text-center bg-dark">занимаюсь олимпипадной математикой</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>начал в 10 классе</h1>
                            <h3>выиграл нескголько частных международок</h3>
                            <h4>*я в желтых очках*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/2ab3b0d6-cb33-4542-a2e9-114cfedbf08a/anime_drawing.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220925T123554Z&X-Amz-Expires=86400&X-Amz-Signature=63a17363745f2f31fb6084e050d04c85f6dc69f859e5f65c96fb92f82dd247ad&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22anime_drawing.jpg%22&x-id=GetObject">
                        <div class="centered">
                            <h1 class="text-white bg-dark">люблю рисовать</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>я не профессиолнал</h1>
                            <h3>и рисую только карандашами</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/ee1a5f16-dac2-4af7-9571-da87f889b05c/mandalorian_helmet_final.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220925T123932Z&X-Amz-Expires=86400&X-Amz-Signature=a27908f7810ef588672857c4a758d4519331cca3c9e480743e8b953228263f90&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22mandalorian%2520helmet_final.jpg%22&x-id=GetObject">
                        <div class="centered">
                            <h1 class="text-white bg-dark">занимаюсь косплеем</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>вот это шлем Мандалорца</h1>
                            <h3>картон + шпаклевка + краска</h3>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselhobbie"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselhobbie"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="myexperience">
        <div id="carouselexp" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/47ca4d4f-99cd-476f-aabd-10597853cb58/YL.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T063226Z&X-Amz-Expires=86400&X-Amz-Signature=c1460c76872be8186d3202e84235ea3ec6872cf316bba0419dab6c7ba96721f1&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22YL.jpg%22&x-id=GetObject">
                        <div class="centered-black">
                            <h1 class="text-white bg-dark">я закончил Яндекс Лицей '21</h1>

                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text bg-dark">закончил на отлично</h1>
                            <h3 class="text bg-dark">попал в ТОП-100 выпускников</h3>
                            <h4 class="text bg-dark">*это я с письмом об окончании и приглашением на хакатон*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/84f860ec-11ae-46bb-b03b-8df889b675c0/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220925T125007Z&X-Amz-Expires=86400&X-Amz-Signature=e5ad61e27c9f1abf1fb64311a89351c75a5ffe9f165965433f5be7dfa375dd10&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject">
                        <div class="centered-black">
                            <h1 class="text-white bg-dark">этим летом стажировался в Kaspi.kz</h1>

                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text bg-dark">это самая большая финтех компания в РК</h1>
                            <h3 class="text bg-dark">Django REST, Kotlin, 8 approved pull-reqs</h3>
                            <h4 class="text bg-dark">*я в синей футболке*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="https://static.forbes.kz/img/articles/fd26641a098894907d6ab4e3360b247a-small.jpg">
                        <div class="centered">
                            <h1 class="text-center bg-dark ">этим летом был частью IT-инкубатора nFactorial 2022</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-warning bg-dark">процент зачисления - 5%</h1>
                            <h3 class="text-warning bg-dark">познакомился с Django и фронт-енд разрабокой</h3>
                            <h4 class="text-warning bg-dark">довел до ума WEB проект который делал в ЯЛ</h4>
                            <p class="text-warning bg-dark">*я сверху справа, прикрываю глаз рукой*</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselexp"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselexp"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="contacts">

        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/703f03b9-871f-4a5b-a246-428e6112cb1c/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T124616Z&X-Amz-Expires=86400&X-Amz-Signature=1729ca107f452363ebc576eca11e6cff9dd88bec7cc908f0ae6aafd12d4ea607&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="display-1 text-dark">Но это еще не все!</h1>
                        <h5 class="card-title">Вы можете связаться со мной через LinkedIn</h5>

                        <a href="https://www.linkedin.com/in/imran-iskakov/" class="btn btn-primary" role="button"><p class="text-light">Связаться</p></a>

                        <h5 class="card-title">или через e-mail</h5>
                        <p class="card-text text-primary">imran.iskakov@gmail.com</p>
                        <p><strong>P.S.</strong></p>
                        <p>на слайдах старался описывать все тезисно, дабы не отнимать у вас лишнее время)</p>
                        <p>в видео постараюсь рассказать про опыт побольше</p>
                        <p>в LinkedIn есть более подробная инфа про то что есть тут и многое другое</p>
                        <p>Спасибо за внимание!)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>