<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Yandex Intensive</title>
    <style>

.container {

position: relative;

text-align: center;

}

.centered {

position: absolute;

top: 50%;

left: 50%;

color: White;

font-size:30px;

transform: translate(-50%, -50%);

}
.centered-black {

position: absolute;

top: 50%;

left: 50%;

color: Black;

font-size:30px;

transform: translate(-50%, -50%);

}
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
<div class="fixed-top">
    <nav id="navbar" class="navbar bg-dark px-3 mb-3">
        <a class="navbar-brand text-light" href="#"><em>творческое задание</em></a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#me">@кто я</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mycity">@откуда</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myhobbies">@чем увлекаюсь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myexperience">@про опыт в разработке</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacts">@как связаться</a>
            </li>
        </ul>
    </nav>
</div>

<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
     class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <div id="me" class="container-fluid position-relative">
        {% load static %}
        <img class="w-100"
             src="{% static '/images/self_ph.jpg' %}">
        <div class="position-absolute top-50 start-50">
            <h1 class="display-4 text-light bg-dark">Хей, привет! Меня зовут Искаков Имран Бахромович</h1>
        </div>
    </div>

    <div id="mycity">
        <div id="carouselLocation" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselLocation" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselLocation" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container-fluid">
                        {% load static %}
                        <img class="d-block w-100"
                             src="{% static '/images/kazakhstan.jpg' %}">
                        <div class="centered">

                            <h1 class="text-white">я из Казахстана</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>самая большая страна в Центральной Азии</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        {% load static %}
                        <img class="d-block w-100"
                             src="{% static '/images/almaty.png' %}"
                             style="width:100%;">

                        <div class="carousel-caption d-none d-md-block">
                            <h1>а точнее, из города Алматы</h1>
                            <h3>бывшая столица РК</h3>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLocation"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselLocation"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="myhobbies">
        <div id="carouselhobbie" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselhobbie" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/codeforces.jpg' %}">
                        <div class="centered-black">
                            <h1 class="text-center">я увлекаюсь</h1>
                            <h1 class="text-black">cпортивным программированием</h1>
                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-warning">начал в 9 классе</h1>
                            <h3 class="text-warning">был в олимпийском резрве</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/team_photo.jpeg'%}"
                             style="width:100%;">

                        <div class="centered">
                            <h1 class="text-center bg-dark">занимаюсь олимпипадной математикой</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>начал в 10 классе</h1>
                            <h3>выиграл нескголько частных международок</h3>
                            <h4>*я в желтых очках*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/anime_drawing.jpg'%}">
                        <div class="centered">
                            <h1 class="text-white bg-dark">люблю рисовать</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>я не профессиолнал</h1>
                            <h3>и рисую только карандашами</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/mandalorian_helmet.jpg'%}">
                        <div class="centered">
                            <h1 class="text-white bg-dark">занимаюсь косплеем</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>вот это шлем Мандалорца</h1>
                            <h3>картон + шпаклевка + краска</h3>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselhobbie"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselhobbie"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="myexperience">
        <div id="carouselexp" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselexp" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/yl.jpg' %}">
                        <div class="centered-black">
                            <h1 class="text-white bg-dark">я закончил Яндекс Лицей '21</h1>

                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-warning bg-dark"><strong>закончил на отлично</strong></h1>
                            <h3 class="text-warning bg-dark">попал в ТОП-100 выпускников</h3>
                            <h4 class="text-warning bg-dark">*это я с письмом об окончании и приглашением на
                                хакатон*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/kaspi.jpg' %}">
                        <div class="centered-black">
                            <h1 class="text-white bg-dark">этим летом стажировался в Kaspi.kz</h1>

                        </div>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text bg-dark">это самая большая финтех компания в РК</h1>
                            <h3 class="text bg-dark">Django REST, Kotlin, 8 approved pull-reqs</h3>
                            <h4 class="text bg-dark">*я в синей футболке*</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">

                        <img class="d-block w-100"
                             src="{% static '/images/nfact.jpg' %}">
                        <div class="centered">
                            <h1 class="text-center bg-dark ">этим летом был частью IT-инкубатора nFactorial 2022</h1>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-warning bg-dark">процент зачисления - 5%</h1>
                            <h3 class="text-warning bg-dark">познакомился с Django и фронт-енд разрабокой</h3>
                            <h4 class="text-warning bg-dark">довел до ума WEB проект который делал в ЯЛ</h4>
                            <p class="text-warning bg-dark">*я сверху справа, прикрываю глаз рукой*</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselexp"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselexp"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="contacts">

        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static '/images/linkedin.png' %}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="display-1 text-dark">Но это еще не все!</h1>
                        <h5 class="card-title">Вы можете связаться со мной через LinkedIn</h5>

                        <a href="https://www.linkedin.com/in/imran-iskakov/" class="btn btn-primary" role="button"><p class="text-light">Связаться</p></a>

                        <h5 class="card-title">или через e-mail</h5>
                        <p class="card-text text-primary">imran.iskakov@gmail.com</p>
                        <p><strong>P.S.</strong></p>
                        <p>на слайдах старался описывать все тезисно, дабы не отнимать у вас лишнее время)</p>
                        <p>в видео постараюсь рассказать про опыт побольше</p>
                        <p>в LinkedIn есть более подробная инфа про то что есть тут и многое другое</p>
                        <p>Спасибо за внимание!)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>